body {
  margin: 0px;
  padding: 0px;
  background: #f0f2f5;
}

.fb-text-logo {
  margin-left: -40px;
}

.btn-success {
  background-color: #42b72a;
}

#signUpTags {
  font-size: 12px;
}

#card-gender {
  width: 60%;
}

#modal-close-btn {
  background-color: transparent;
  border: transparent;
  color: grey;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

#homeLogo {
  width: 20px;
  height: 20px;
}

#homeLogoParent {
  border-bottom: 2px solid blue;
}

#facebookLogoHome {
  width: 40px;
  height: 40px;
}

#postCard {
  border-radius: 6px;
}

#postInput {
  border-radius: 20px;
}

#addPhotoIcon {
  width: 30px;
  height: 30px;
}
